*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* p{ 
  font-weight: 300;
  color: #111;
/* } */

header {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  transition: 0.5s;
}

.logo{
  color:#373a3d; 
  font-weight: bold;
  font-size: 2.3em;
  text-decoration: none;
  margin-bottom: 20px;
  
  
}
.logo span{
  color: #52fb1f;
}

.navbar{
  display: flex;
  position: relative;
}

.navbar li{
  list-style: none;
}
.navbar a{
  font-size: 1.2em;
  color: #0ed10e;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 300;
}


section.contact{
  background-color:rgb(189, 187, 184);
  background-size: cover;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
  width: 100%;
  background-position:center;
}

.contact h2{
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
}

.contact p{
  text-align: center;

}

.contactform{
  padding: 75px 50px;
  background: #f3e9e9;
  box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
  max-width: 500px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
  border-radius: 20px;
}

.contactform .inputboite{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactform h3{
color: #111;
font-size: 1.2em;
margin-bottom: 50px;
text-align: center;
}

.contactform .inputboite input,
.contactform .inputboite textarea{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputboite input[type="submit"]{
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  background: #4427ec;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  outline: none;
  border: none;
  transition: 0.5s;
  max-width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: ease-out;
  
}


.inputboite input[type="submit"]:hover{
  transition: 0.5s;
  background: #1ac6fa;
}

 section.content { 
display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
 }
  
  .content img {
    height: max-content;
    width: 100%;
    position: relative;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    margin: 5px 5px; 
    border-radius: 50px;
    display:unset;
    
  }


.content h1 {
    font-size: 3em;
    color:rgb(49, 240, 24);
    position:absolute; display: flex;
    width: 100%;
    justify-content:right;
    align-items:flex-start;
    flex-direction: column;
    position: absolute;
    display: flex;
    bottom: 210px;
    padding-left: 250px;
}
.content p{
  font-size: 1.2em;
    color:rgb(21, 236, 21);
    position:absolute; display: flex;
    width: 100%;
    justify-content:right;
    align-items:flex-start;
    flex-direction: column;
    position: absolute;
    display: flex;
    bottom: 100px;
    padding-left: 200px;
}



  .tarifs{
     /* background: #d8dde2; */ 
    background-size: cover;
    background-repeat: no-repeat;
}

.tarifs .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.tarifs .contenu .box{
    width: 340px;
    margin: 20px;
    background: #f8e7e7;
    box-shadow: #534e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.tarifs .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.tarifs .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.tarifs .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}
.tarifs .contenu .box .text h3{
    color: #5c4d3d;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
    padding: 40px;
}

.blanc .titre-text{
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.blanc .titre-text p{
  align-items: center;
  text-align: center;
  justify-content: center;
}
.blanc .titre-text,
.blanc p{
    color: #645d5d;
}


section.mentions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 120px;
  background-color: beige;
}
.mentions .legales h2 {
  text-align:center;
  font-size: 1.5em;
  color: #3c3696;

}
.mentions .legales p{
  font-size: 1.2em;
  text-align: center;
}
.cordonnee h2{
  font-size: 2em;
  color: darkblue;
}
.cordonnee p{
  font-size: 1.2em;
}

.cordonnee .google{
 display: flex;
  align-items: center;
  justify-content: center;
}
.copyright{
  text-align: center;

}.copyright h5{
  text-transform: capitalize;
}
